main.results {
  padding: 1.5em;

  @include breakpoints(xs) {
    padding: 0;
  }

  > span {
    font-weight: 700;
    padding: 1.5em;

    @include breakpoints(xs) {
      display: block;
      padding: 1em 1.5em;
    }
  }

  .items {
    display: flex;
    flex-wrap: wrap;

    @include breakpoints(xs) {
      flex-direction: column;
      flex-wrap: nowrap;
    }
  }

  a.card,
  a.card:visited {
    width: calc(25% - 3em);
    flex-grow: 0;
    flex-shrink: 0;
    margin: 1.5em;
    text-decoration: none;
    color: $primary;

    @include breakpoints(md) {
      width: calc(33.33% - 3em);
    }

    @include breakpoints(sm) {
      width: calc(50% - 3em);
    }

    @include breakpoints(xs) {
      width: calc(100%);
      margin: 0 0 1em;
    }

    figure {
      display: flex;
      flex-direction: column;

      @include breakpoints(xs) {
        flex-direction: row;
        padding: 0 1.5em;

        > div {
          height: auto;
          width: 75px !important;
          height: 75px  !important;
          padding-bottom: 0 !important;
          flex-shrink: 0;
        }

        img {
          width: 75px;
          height: 75px;
        }
      }

      figcaption {
        margin-top: 1em;
        padding-right: 2em;
        line-height: 1.45em;

        @include breakpoints(xs) {
          padding: 0.5em 1em 2em;
          margin-top: -0.5em;
        }

        span {
          display: block;

          &.title {
            font-weight: 700;
            margin-bottom: 0.25em;
            letter-spacing: -0.0125em;
            font-family: $serif;
            line-height: 1.25em;

            @include breakpoints(xs) {
              font-size: 1.25em;
            }
          }

          &.artist {
            font-weight: 400;
            font-size: 0.8333em;
            line-height: 1.45em;
          }
        }
      }
    }

    &:hover,
    &:focus {
      img {
        box-shadow: $box-shadow-focus;
      }

      color: $secondary;
    }
  }
}
