main.results {
  display: flex;
  flex-wrap: wrap;
  padding: 1.5em;

  a.card,
  a.card:visited {
    width: calc(25% - 3em);
    flex-grow: 0;
    flex-shrink: 0;
    margin: 1.5em;
    text-decoration: none;
    color: $primary;

    figure {
      display: flex;
      flex-direction: column;

      figcaption {
        margin-top: 0.5em;
        padding-right: 2em;
        line-height: 1.45em;

        span {
          display: block;

          &.title {
            font-weight: 700;
            margin-bottom: 0.25em;
            letter-spacing: -0.0125em;
          }

          &.artist {
            font-weight: 400;
            font-size: 0.8333em;
            line-height: 1.45em;
          }
        }
      }
    }
  }
}
